<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"> List des contacts</div>
        <div class="panel-body">

            <div>
                <label>Mot cle</label>
                <input type="text" [(ngModel)]="motCle" />
                <button class="btn btn-primary" (click)="chercher()">Chercher</button>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Prenom
                    </th>
                    <th>
                        Date Naissance
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tel
                    </th>
                </tr>
                <tr *ngFor="let c of pagecontact?.content">
                    <td> {{c.id}} </td>
                    <td> {{c.nom}} </td>
                    <td> {{c.prenom}} </td>
                    <td> {{c.dateNaissance}} </td>
                    <td> {{c.email}} </td>
                    <td> {{c.tel}} </td>
                    <td>
                        <a (click)="onEditContact(c.id)" class="clickable">
                            Edit

                        </a>
                    </td>

                    <td>
                        <a (click)="onDelete(c)" class="clickable">
                            Delete

                        </a>
                    </td>


                </tr>

            </table>

            <div class="container">
                <ul class="nav nav-pils">
                    <li [ngClass]="{'active': i==currentPage}" *ngFor="let p of pages; let i=index">
                        <a class="clickable" (click)="goToPage(i)">{{i}}</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>